[package]
name = "ed25519-zebra"
# Before publishing:
# - update CHANGELOG.md
version = "3.1.0"
authors = ["Henry de Valence <hdevalence@hdevalence.ca>"]
license = "MIT OR Apache-2.0"
edition = "2018"
repository = "https://github.com/ZcashFoundation/ed25519-zebra"
description = "Zcash-flavored Ed25519 for use in Zebra."
resolver = "2"

[package.metadata.docs.rs]
features = ["nightly"]

[dependencies]
hex = { version = "0.4", default-features = false, features = ["alloc"] }
sha2 = { version = "0.9", default-features = false }
rand_core = "0.6"
curve25519-dalek = { version = "3", default-features = false, features = ["alloc", "u64_backend"] }
serde = { version = "1", optional = true, features = ["derive"] }
zeroize = "1.2"
hashbrown = "0.12.0"

[dev-dependencies]
rand = "0.8"
bincode = "1"
criterion = "0.3"
ed25519-zebra-legacy = { package = "ed25519-zebra", version = "1" }
color-eyre = "0.6"
once_cell = "1.4"

[features]
nightly = []
default = ["serde", "std"]
std = []

[[test]]
name = "rfc8032"

[[test]]
name = "unit_tests"

[[test]]
name = "batch"

[[bench]]
name = "bench"
harness = false
