name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build_msrv:
    name: build on MSRV
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.0
    - uses: dtolnay/rust-toolchain@1.85.0
    - run: cargo build --all-features

  test_nightly:
    name: test on nightly
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.0
    - uses: dtolnay/rust-toolchain@nightly
    # Update dependencies since we commit the lockfile
    - run: cargo update --verbose
    - run: cargo test --all-features

  build_no_std:
    name: build with no_std
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.0
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        targets: thumbv6m-none-eabi
    - run: cargo build --no-default-features --target thumbv6m-none-eabi
